.UserComplaintComponent {
    margin: 0rem 3rem;
    margin-top: 1rem;
    width: 90%;
    border: 1px solid #ccc;
    background: #fff;
}
.UserComplaintHeader {
    margin: 0rem;
    padding: 0.5rem;
    padding-left: 1rem;
    border-bottom: 1px solid #ccc;
    background-color: #f4f4f4;
    font-size: 1rem;
    font-weight: bolder;
}
.ComplaintTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
.ComplaintTableBody {
    text-align: center;
}
.ComplaintTableRow {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;

 }
 .ComplaintTableRow a {
    font-size: 1rem;
 }
 .Message {
     color: red;
     text-align: center;
     margin-top: 2rem;
 }
.StatusOpen {
    color: red;
}
.StatusInProgress {
    color: blue;
}
.StatusResolved {
    color: green;
}

@media(max-width:768px){
    .UserComplaintComponent {
        overflow-x: auto;
    }
    .TableWrapper {
        overflow-x: auto;
    }
}